{{#extend "scaffold"}}
{{#content "body"}}
    <div class="homepage">
    <div class="head">
        <div class="about-me">
            <a href="https://about.me/guymograbi">Guy Mograbi</a>
            <div class="links">
                <a href="https://twitter.com/guymograbi">Twitter</a>
                <a href="https://github.com/guymograbi">Github</a>
            </div>
        </div>
    </div>
    <div class="content">
        {{{contents}}}
            <div class="logo"></div>
            {{#each collections.articles}}
                <div>
                <!--{{!json .}}-->
                <h1>{{ title }}</h1>
                <h3>{{moment published 'DD MMM YYYY' }}</h3>

                {{{excerpt}}}<a href="{{path}}">read more</a>
                </div>
            {{/each}}
        </div>

    </div>
    </div>
{{/content}}
{{/extend}}