div.homepage
    div.head
        include about-me.pug
    div.content
        div.logo
        div.gitter-link
            a(href="https://gitter.im/GuyMograbi/mograblog")
                img(src="https://badges.gitter.im/GuyMograbi/mograblog.svg")

        each article in articles
            div.entry
                <!--{{!json .}}-->
                h1
                    a(href=article.path) #{article.title}
                h3 #{moment(article.published).format('DD MMM YYYY')}
                if article.cover 
                  div.cover-image
                    img(src=article.cover)
                  div.with-cover-image!= article.excerpt
                else
                  div!= article.excerpt
                a.read-more(href=article.path) read more &#8594;
            hr
script mixpanel.track("homepage-view");
