div.homepage
    div.head
        include about-me.pug
    div.content
        img.logo(src="/style/images/logo_transparent.png")
        div.discord-link
            a(href="https://discord.gg/5MPRhJnk")
                img(src="https://img.shields.io/badge/Discord-Join%20Chat-7289da?logo=discord&logoColor=white")

        each article in articles
            div.entry(article=article.path)
                <!--{{!json .}}-->
                h1
                    a(href=article.path) #{article.title}
                h3 #{moment(article.published).format('DD MMM YYYY')}
                if article.cover
                  div.cover-image
                    img(src=article.cover)
                  div.with-cover-image!= article.excerpt
                else
                  div!= article.excerpt
                a.read-more(href=article.path) read more &#8594;
            hr
script.
   mixpanel.track("homepage-view");
   $('body').on('click', '.entry[article]', function (event) {
     console.log('article clicked!', event.target);
     window.location = $(this).find('a:first').attr('href');
   })
