extend scaffold.pug

block body
    include feedback-modal.pug

    div.post
        div.head
            a.logo-link(href="/")
                img.logo(src="/style/images/logo_transparent.png")
            include about-me.pug
            a.blog-name-header(href="/") Mograblog
            span.blog-motto-header Let's make it work!
            div.post-navigation
                if previous && previous.path
                    a(href=previous.path,title=previous.title) &#8592;  Previous
                if next && next.path
                    a(href=next.path, title=next.title) Next &#8594;
        div.currently-reading-wrapper
            div Visitors are also reading...
            div.currently-reading
        div.content.first-content
            h1.post-title #{title}
            h3
                span #{moment(published).format('DD MMM YYYY')}
                span.details
                    span.pageviews.icon-eye
                      span.pageviews-content
                    span.feedback-trigger
                      i.fa-regular.fa-envelope
                    span.likes
                div.action-wrapper
                  span.discord-link
                    a(href="https://discord.gg/5MPRhJnk")
                        img(src="https://img.shields.io/badge/Discord-Join%20Chat-7289da?logo=discord&logoColor=white")
                  span.help-improve
                    a(href="https://github.com/GuyMograbi/mograblog/blob/master/src/" + filepath,target="_blank",title="help me improve this post with pull request")
                        img(src="https://img.shields.io/badge/improve-post-blue.svg")
        if cover
          div.content
            div.cover-image
              img(src=cover,title=coverTitle)
        div.content !{contents}
        div.content
            p
                if previous && previous.path
                    a(href=previous.path, title=previous.title) &#8592;  Previous
                if next && next.path
                    a(href=next.path, style="float:right", title=next.title) Next &#8594;
            div.push(style="height:100px")
            script(src="/bower_components/slug/slug.js")
            script(src="/scripts/bundle.js")

        div#disqus_thread
        script
                |
                | /**
                |  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                |  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                |  */
                | /*
                | var disqus_config = function () {
                | this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                | this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                | };
                | */
                | (function() { // DON'T EDIT BELOW THIS LINE
                |     var d = document, s = d.createElement('script');
                |
                |     s.src = '//mograblog.disqus.com/embed.js';
                |
                |     s.setAttribute('data-timestamp', +new Date());
                |     var post = document.getElementsByClassName('post')[0];
                |
                |     d.body.appendChild(s);
                |
                | })();
